---
import Header from "../components/Header.astro";
import Body from "../components/Body.astro";
import { FloatingContactSidebar } from "../components/floatingSidebar";
import "../styles/global.css";
import { Toaster } from "sonner";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<link rel="manifest" href="/site.webmanifest" />

		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap"
			rel="stylesheet"
		/>

		<title>Sanjeev Bhusal</title>
		<style>
			body,
			html,
			* {
				box-sizing: border-box;
				font-family: Manrope, sans-serif;
			}
		</style>
	</head>

	<body class="bg-white dark:bg-black">
		<div
			class="fixed bottom-0 left-0 right-0 border-t border-t-[#dad1d1] bg-white sm:static sm:border-t-0 sm:border-b dark:bg-black dark:border-white z-50"
		>
			<Header />
		</div>
		<Body />
		<FloatingContactSidebar client:load />
		<Toaster richColors client:load />
	</body>
</html>
