---
import Footer from "./Footer.astro";
---

<div
  class="max-w-[960px] pb-24 px-6 sm:mx-auto sm:pb-12 sm:px-8 dark:text-white"
>
  <h1 class="text-2xl font-bold pt-12" id="about">
    Hi, I'm Sanjeev, a software developer
  </h1>
  <p class="mt-4">
    My relationship with computers started when i was 8 years old. I was in
    grade 2. This was the first time i had "Computer" as one of the dedicated
    subjects in the school curriculum. We used to have alternate days for
    studying text book and going to computer lab. I had seen a computer before
    but never really got the chance to play with it. I started spending hours
    playing with programs like Ms-Paint, Ms-word and games like MsHearts,
    Spider, Pin ball, etc, classic Windows XP era games. My love for video games
    led me to discovering a game called "Dangerous Dave". You can actually play
    it in <a
      href="https://www.retrogames.cz/play_480-DOS.php"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400"
    >
      browser now.</a
    > I loved the game so much, i argued with my father to get me a personal computer
    just so i can play it at home. I found out that people who build such games are
    called Software Engineers. At that time, I had made my mind that i will grow
    up to become a Software Engineer.
  </p>

  <p class="mt-4">
    Fast forward 10 years later, I had to choose a college for my bachelors. My
    hometown didn't have a good college that taught coding. I moved to Kathmandu
    (Nepal's capital) and joined a college to study Computer Science. 3 years
    into my college, and i had completed 3 internships and started a full time
    job.
  </p>

  <p class="mt-4">
    Throughout my career, I've gained diverse experience across different
    environments - from service-based companies to fintech solutions and product
    development. Over the past 3+ years, I've specialized in JavaScript and
    Python ecosystems, while also developing strong expertise in DevOps
    practices and cloud infrastructure. Currently, I work as a Full Stack
    developer at <a
      href="https://www.securitypalhq.com/"
      target="_blank"
      rel="noopener noreferrer"
      class="text-blue-600 hover:text-blue-800 dark:hover:text-blue-400"
    >
      SecurityPal
    </a>, building products used by both Fortune 500 companies and fast-growing
    startups. While I'm happy in my current role, I'm always open to exploring
    new opportunities and connecting with fellow developers and industry
    professionals.
  </p>

  <section class="pt-12" id="work-experience">
    <h2 class="text-lg font-bold">Work Experience</h2>
    <h3 class="mt-4">
      <a
        href="https://www.securitypalhq.com/"
        class="flex gap-0 items-center text-blue-700 font-semibold hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400"
        target="_blank"
        rel="noopener noreferrer"
      >
        Software Engineer at SecurityPal
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"
          ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        >
      </a>
    </h3>
    <span class="mt-2 text-sm">2023 - Present</span>
    <p class="mt-4">
      I build and maintain full-stack solutions for SecurityPal, a platform
      serving multiple startups and Fortune 500 companies. I collaborate closely
      with cross functional teams including product manager, designer, sales and
      engagement managers to understand business requirements and develop
      targeted solutions. My work involves the complete development lifecycle
      including ticket management, code reviews, documentation, and ensuring
      system reliability through comprehensive automated testing.
    </p>
    <ul class="flex flex-wrap gap-4 mt-4">
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        TypeScript
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        React
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Redux
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Playwright
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Python
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Django
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Pytest
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        SQL
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Github Actions
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        GCP
      </li>
    </ul>

    <h3 class="mt-8">
      <a
        href="https://proshore.eu/"
        class="flex gap-0 items-center text-blue-700 font-semibold hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400"
        target="_blank"
        rel="noopener noreferrer"
      >
        Frontend Developer Intern at Proshore
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"
          ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        >
      </a>
    </h3>
    <span class="mt-2 text-sm">Apr 2023 - June 2023</span>
    <p class="mt-4">
      I built a comprehensive time-tracking application using React and
      TypeScript for the company's 100+ employees. The goal was to save company
      hundreds of dollars per month by eliminating the need of currently used
      third party solution. I worked closely with the employees to understand
      the most used features of the existing solution and built a solution that
      met their requirements.
    </p>
    <ul class="flex flex-wrap gap-4 mt-4">
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        React
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        TypeScript
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Tailwind CSS
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Material UI
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        API Integration
      </li>
    </ul>

    <h3 class="mt-8">
      <a
        href="https://tai.com.np/en/"
        class="flex gap-0 items-center text-blue-700 font-semibold hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400"
        target="_blank"
        rel="noopener noreferrer"
      >
        DevOps Engineer Intern at Tai Inc
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"
          ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        >
      </a>
    </h3>
    <span class="mt-2 text-sm">Dec 2022 - Mar 2023</span>
    <p class="mt-4">
      I implemented CI/CD pipelines, Dockerfile configurations, and executed
      production deployments for integrating an AI-powered chatbot into the
      company's website. I assisted in resolving deployment-related issues, SSH
      configuration, Docker utilization, and database management for an
      e-commerce PHP application from start to finish. I leveraged multiple AWS
      services including EC2 instances, load balancers, auto-scaling, and
      CloudFormation to deploy scalable applications across multiple projects,
      and developed Terraform scripts to provision infrastructure on AWS
      promoting reusability and maintainability. At the end of my internship, I
      gave a short Kubernetes training session to the entire tech team
      comprising over 30 members, facilitating their understanding and adoption
      of containerization and orchestration technologies.
    </p>
    <ul class="flex flex-wrap gap-4 mt-4">
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Docker
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        AWS
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Terraform
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        CI/CD
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        CloudFormation
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        EC2
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Load Balancer
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Kubernetes
      </li>
    </ul>
    <h3 class="mt-8">
      <a
        href="https://www.moru.com.np/"
        class="flex gap-0 items-center text-blue-700 font-semibold hover:text-blue-500 dark:text-blue-500 dark:hover:text-blue-400"
        target="_blank"
        rel="noopener noreferrer"
      >
        Backend Developer Intern at Moru
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-arrow-up-right-icon lucide-arrow-up-right"
          ><path d="M7 7h10v10"></path><path d="M7 17 17 7"></path></svg
        >
      </a>
    </h3>
    <span class="mt-2 text-sm">Apr 2022 - Oct 2022</span>
    <p class="mt-4">
      Build the entire backend for an in-house blog application. The application
      supported features such as authentication, user roles, blog post
      management, comment management etc. I wrote comprehensive unit and
      integration tests, ensuring a minimum of 80% code coverage to maintain
      high code quality. I worked closely with Frontend and Mobile teams in
      design and feature discussions, API integration, and code reviews,
      ensuring the project was completed on time.
    </p>
    <ul class="flex flex-wrap gap-4 mt-4">
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Python
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Flask
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Pytest
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        API Development
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Database Design
      </li>
      <li class="text-sm px-2 py-1 bg-[#EBEDF2] rounded-lg dark:text-black">
        Git
      </li>
    </ul>
  </section>

  <section class="pt-12" id="projects">
    <h2 class="text-lg font-bold">Recent Projects</h2>
    <ul class="flex gap-12 mt-4 flex-wrap sm:gap-16">
      <li class="basis-[300px]">
        <a href="/projects/ask-my-docs">
          <!-- Image goes here -->
          <img
            src="https://res.cloudinary.com/dulrspeey/image/upload/w_640/mpno6rbgtm3hnhamnsmg"
            class="rounded-xl h-[170px] w-[300px] border border-[#EBEDF2]"
          />

          <div class="mt-4">
            <h3 class="font-semibold">Ask my Docs</h3>
            <p class="text-sm mt-2">
              A RAG chatbot that can answer questions based on documents
            </p>
          </div>
        </a>
      </li>
    </ul>

    <section class="pt-12" id="contact">
      <h2 class="text-lg font-bold">Contact</h2>
      <p class="mt-2 text-sm">
        Please reach out if you are looking for a developer or just want to
        connect in general.
      </p>
      <div class="mt-4 flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-mail-icon lucide-mail text-blue-600 dark:text-blue-500"
          ><path d="m22 7-8.991 5.727a2 2 0 0 1-2.009 0L2 7"></path><rect
            x="2"
            y="4"
            width="20"
            height="16"
            rx="2"></rect></svg
        >
        <a
          href="mailto:bhusalsanjeev23@gmail.com"
          class="text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400"
          >bhusalsanjeev23@gmail.com</a
        >
      </div>
      <div class="mt-4 flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-linkedin-icon lucide-linkedin text-blue-600 dark:text-blue-500"
          ><path
            d="M16 8a6 6 0 0 1 6 6v7h-4v-7a2 2 0 0 0-2-2 2 2 0 0 0-2 2v7h-4v-7a6 6 0 0 1 6-6z"
          ></path><rect width="4" height="12" x="2" y="9"></rect><circle
            cx="4"
            cy="4"
            r="2"></circle></svg
        >
        <a
          href="https://www.linkedin.com/in/sanjeevbhusal/"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400"
          >LinkedIn</a
        >
      </div>
      <div class="mt-4 flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-github-icon lucide-github text-blue-600 dark:text-blue-500"
          ><path
            d="M15 22v-4a4.8 4.8 0 0 0-1-3.5c3 0 6-2 6-5.5.08-1.25-.27-2.48-1-3.5.28-1.15.28-2.35 0-3.5 0 0-1 0-3 1.5-2.64-.5-5.36-.5-8 0C6 2 5 2 5 2c-.3 1.15-.3 2.35 0 3.5A5.403 5.403 0 0 0 4 9c0 3.5 3 5.5 6 5.5-.39.49-.68 1.05-.85 1.65-.17.6-.22 1.23-.15 1.85v4"
          ></path><path d="M9 18c-4.51 2-5-2-7-2"></path></svg
        >
        <a
          href="https://github.com/sanjeevbhusal"
          target="_blank"
          rel="noopener noreferrer"
          class="text-blue-600 hover:text-blue-800 dark:text-blue-500 dark:hover:text-blue-400"
          >Github</a
        >
      </div>

      <Footer />
    </section>
  </section>
</div>
