<!-- color: #7d7373; font-weight: bolder; -->
<div class="mt-12">
  This is a statically generated site. It is designed with <a
    href="https://stitch.withgoogle.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-900 dark:text-white hover:text-orange-600 dark:hover:text-orange-400 underline cursor-pointer font-medium transition-colors duration-300"
    >Google Stich</a
  >, coded using <a
    href="https://astro.build/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-900 dark:text-white hover:text-orange-600 dark:hover:text-orange-400 underline cursor-pointer font-medium transition-colors duration-300"
    >AstroJS</a
  >,
  <a
    href="https://tailwindcss.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-900 dark:text-white hover:text-orange-600 dark:hover:text-orange-400 underline cursor-pointer font-medium transition-colors duration-300"
    >Tailwind CSS</a
  > and deployed via <a
    href="https://www.cloudflare.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-gray-900 dark:text-white hover:text-orange-600 dark:hover:text-orange-400 underline cursor-pointer font-medium transition-colors duration-300"
    >Cloudflare Workers</a
  >
</div>
