<!-- color: #7d7373; font-weight: bolder; -->
<div class="mt-12 mb-12 sm:mb-0">
  This is a statically generated site. It is designed with <a
    href="https://stitch.withgoogle.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-primary md:text-gray-900 underline dark:text-white hover:text-orange-600 dark:hover:text-orange-600 transition-colors duration-300 cursor-pointer font-medium"
    >Google Stich</a
  >, coded using <a
    href="https://astro.build/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-primary md:text-gray-900 underline dark:text-white hover:text-orange-600 dark:hover:text-orange-600 transition-colors duration-300 cursor-pointer font-medium"
    >AstroJS with React</a
  >,
  <a
    href="https://tailwindcss.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-primary md:text-gray-900 underline dark:text-white hover:text-orange-600 dark:hover:text-orange-600 transition-colors duration-300 cursor-pointer font-medium"
    >Tailwind CSS</a
  > and deployed via <a
    href="https://www.cloudflare.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-primary md:text-gray-900 underline dark:text-white hover:text-orange-600 dark:hover:text-orange-600 transition-colors duration-300 cursor-pointer font-medium"
    >Cloudflare Workers</a
  >
</div>
