<div class="mt-12">
  This is a statically generated site. It is designed with <a
    href="https://stitch.withgoogle.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-blue-600 cursor-pointer font-medium dark:text-blue-500"
    >Google Stich</a
  >, coded using <a
    href="https://astro.build/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-blue-600 cursor-pointer font-medium dark:text-blue-500"
    >AstroJS</a
  >,
  <a
    href="https://tailwindcss.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-blue-600 cursor-pointer font-medium dark:text-blue-500"
    >Tailwind CSS</a
  > and deployed via <a
    href="https://www.cloudflare.com/"
    target="_blank"
    rel="noopener noreferrer"
    class="text-blue-600 cursor-pointer font-medium dark:text-blue-500"
    >Cloudflare Workers</a
  >
</div>
