---
const { highlightProjectTab } = Astro.props;
---

<header
  class="max-w-[1200px] m-auto flex items-center gap-10 justify-between py-5 sm:px-8"
>
  <h1 class="text-lg font-bold hidden sm:block">
    <a href="/">Sanjeev's Portfolio</a>
  </h1>
  <nav class="grow sm:grow-0">
    <ul class="flex justify-center gap-4 sm:gap-9">
      <li>
        <a
          href="http://localhost:4321/#about"
          class="hover:text-blue-700 cursor-pointer text-sm font-medium"
          >About</a
        >
      </li>
      <li>
        <a
          href="http://localhost:4321/#work-experience"
          class="hover:text-blue-700 cursor-pointer text-sm font-medium"
          >Work Experience</a
        >
      </li>
      <li>
        <a
          href="http://localhost:4321/#projects"
          class={`hover:text-blue-800 cursor-pointer text-sm font-medium  ${highlightProjectTab ? "text-blue-600" : ""}`}
          >Projects</a
        >
      </li>
      <li>
        <a
          href="http://localhost:4321/#contact"
          class="hover:text-blue-700 cursor-pointer text-sm font-medium"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
