<header
  class="w-[1200px] m-auto flex items-center gap-10 justify-between py-5 px-8"
>
  <h1 class="text-lg font-bold"><a href="/">Sanjeev's Portfolio</a></h1>
  <nav>
    <ul class="flex gap-9 list-none">
      <li class="cursor-pointer text-sm font-medium">
        <a href="#about">About</a>
      </li>
      <li class="cursor-pointer text-sm font-medium">
        <a href="#work-experience">Work Experience</a>
      </li>
      <li class="cursor-pointer text-sm font-medium">
        <a href="#projects">Projects</a>
      </li>
      <li class="cursor-pointer text-sm font-medium">
        <a href="#contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>
