<header
  class="w-[1200px] m-auto flex items-center gap-10 justify-between py-5 px-8"
  id="about"
>
  <h1 class="text-lg font-bold"><a href="/">Sanjeev's Portfolio</a></h1>
  <nav>
    <ul class="flex gap-9 list-none">
      <li>
        <a
          href="#about"
          class="hover:text-blue-700 cursor-pointer text-sm font-medium"
          >About</a
        >
      </li>
      <li>
        <a
          href="#work-experience"
          class="hover:text-blue-700 cursor-pointer text-sm font-medium"
          >Work Experience</a
        >
      </li>
      <li>
        <a
          href="#projects"
          class="hover:text-blue-700 cursor-pointer text-sm font-medium"
          >Projects</a
        >
      </li>
      <li>
        <a
          href="#contact"
          class="hover:text-blue-700 cursor-pointer text-sm font-medium"
          >Contact</a
        >
      </li>
    </ul>
  </nav>
</header>
